<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        input {
            display: block;
        }
    </style>
</head>
<body>
    <form method="POST" action="/registration">
        <label for="username">firstName</label>
        <input type="text" name="firstName">
        <label for="username">lastName</label>
        <input type="text" name="lastName">
        <label for="username">login</label>
        <input type="text" name="username">
        <label for="username">password</label>
        <input type="password" name="password">
        <button type="submit">Зарегистрироваться</button>
        Уже зарегистрированы?<a href="/login">Войти</a>
    </form>
</body>
</html>