<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Выход</a>
    <form action="/tasks" method="POST">
        <input type="text" name="title"/><br>
        <input type="submit" />
    </form>
    <ul>
        {{#each tasks}}
            <li>
                {{#if this.completed}}
                    +
                {{/if}}
                {{this.title}}
                <form action="/tasks/complete" method="POST">
                    <input type="hidden" name="id" value="{{this._id}}">
                    <input type="submit" value="Complete">
                </form>
                <form action="/tasks/delete" method="POST">
                    <input type="hidden" name="id" value="{{this._id}}">
                    <input type="submit" value="X">
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>